<!--suppress ALL -->
<footer>
  <!--<button id="scroll_to_top" onclick="window.scrollTo(0,0);">↑</button>-->



  <md-expansion-panel onclick="setTimeout(function(){window.scrollTo(0,document.body.scrollHeight);} ,200)" style="background-color: #516C8B;">
    <md-expansion-panel-header>
      <md-panel-title>
        Legal Disclaimer
      </md-panel-title>
      <md-panel-description>
        Made with &hearts; in beautiful Vancouver, BC.
      </md-panel-description>
    </md-expansion-panel-header>

    <section class="legal_disclaimer">
      <p>Please refer to offer when ordering. Limited time. Prices, participation, delivery area, terms and charges may vary.</p>
      <p><br>Additional charges may apply when selecting extra or premium toppings. "Handmade Pan Pizza", "Thin Crust", and "Feast" pizzas may be extra.</p>
      <p><br>According to our most recent assessment of scientific data, foods containing gluten levels not exceeding 20 PPM would not pose a health risk to the vast majority of individuals with Celiac Disease or to individuals with gluten sensitivity. The level of gluten found in our pizza made with Gluten Free Crust is below 20 PPM. However, Pure Pizza pizza made with a Gluten Free Crust is prepared in a common kitchen with the risk of gluten exposure. Therefore, Pure Pizza DOES NOT recommend this pizza for customers with Celiac Disease. Customers with gluten sensitivities should exercise judgement in consuming this pizza.</p>
      <p><br>Due to baking quality, limit of 10 toppings per pizza.</p>
      <p><br>Pricing may vary by location. Handmade Pan Pizza and Gluten Free Pizza may be subject to an additional charge.</p>
      <p><br>©2017 Pure Pizza TGM LLC. Pure Pizza®, Pure Pizza Pizza® and the logo are registered trademarks of TGM LLC.</p>
    </section>

  </md-expansion-panel>

  <div class="bg-behind">
    <img class="bg-sun" src="assets/images/sun.svg"
         alt="Sun... or pizza?"/>
    <img class="bg-mountains" src="assets/images/mountains.svg"
         alt="Mountains"/>
  </div>

</footer>
